@media screen and (max-width: 767px){
	.slicknav_menu{display:block;}
	#menu{display: none;}
	header{height: auto;}
	.lgn{margin-top: 10px;}
	.logo {display: table;margin: auto;}
	.order-cart{margin-top: 10px;margin-bottom: 10px !important;}
	.home-delivery{margin-top: 10px;}
	#banner{display: none;}
	footer{background: url('../img/footer-bg.jpg') no-repeat bottom center;height: auto;}
	footer p{color: #555555;}
	.footer-bottom {margin-top: 0;margin-bottom: 15px;}
	.copyright {margin-bottom: 15px;display: inline-block;color: #555555;}
	.footer-order {max-width: 100%;}
	.top-footer{margin-top: 0;}
	.footer-heading{margin-top: 0;margin-bottom: 10px;}
	#productsList h5{margin-bottom: 0;}
	.aboutPage {margin: 0px 0 0px 0;}
	.aboutPage h1{margin-top: 0;}
}
